{% extends "LearningUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}


    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST"
          class="fos_user_registration_register register-form">
        {{ form_widget(form) }}
        <div>
            <input class="btn btn-default btn-block" type="submit" value="{{ 'registration.submit'|trans }}" />
        </div>
    </form>


{% endblock fos_user_content %}
